<extend name="public" />
<block name="title"><title>用户添加</title></block>
<block name="useradd">
   <div id="mws-container" class="clearfix">
            	<div class="container">
                  
                    <div class="mws-panel grid_8">
          <div class="mws-panel-header">
               <span>用户添加</span>
          </div>
          <div class="mws-panel-body no-padding">
               <form action="__MODULE__/User/insert" method="post" class="mws-form">
                  
                    <div class="mws-form-inline">
                         <div class="mws-form-row">
                              <label class="mws-form-label">用户名:</label>
                              <div class="mws-form-item">
                                   <input value="" type="text" class="small" name="name" value="" required oninvalid="setCustomValidity('用户名不能为空')" oninput="setCustomValidity('')">
                              </div>
                         </div>
                         <div class="mws-form-row">
                              <label class="mws-form-label">密码:</label>
                              <div class="mws-form-item">
                                   <input type="password" name="pwd" class="small" value="" required oninvalid="setCustomValidity('密码不能为空')" oninput="setCustomValidity('')">
                              </div>
                         </div>
                         <div class="mws-form-row">
                              <label class="mws-form-label">确认密码:</label>
                              <div class="mws-form-item">
                                   <input type="password" name="repwd" class="small" value="" required oninvalid="setCustomValidity('请确认密码')" oninput="setCustomValidity('')">
                              </div>
                         </div>
                         <div class="mws-form-row">
                              <label class="mws-form-label">邮箱:</label>
                              <div class="mws-form-item">
                                   <input value="" type="text" name="email" class="small" value="" required oninvalid="setCustomValidity('邮箱不能为空')" oninput="setCustomValidity('')">
                              </div>
                         </div>
                    </div>
                    <div class="mws-button-row">
                         <input type="submit" class="btn btn-danger" value="添加">
                         <input type="reset" class="btn " value="重置">
                    </div>
               </form>
          </div>         
      </div>
</block>