<extend name="public" />
<block name="title"><title>用户修改</title></block>
<block name="useredit">
<div class="mws-panel grid_8">
                	<div class="mws-panel-header">
                    	<span><i class="icon-pencil"></i>用户修改</span>
                    </div>
                    <div class="mws-panel-body no-padding">
                    	<form class="mws-form" action="__MODULE__/user/update" method="post">
                        	
                        	<div class="mws-form-inline">
                            	<div class="mws-form-row">
                                	<label class="mws-form-label">用户名</label>
                                	<div class="mws-form-item">
                                    	<input class="large" type="text" value="{$name['name']}" name="name" required oninvalid="setCustomValidity('用户名不能为空')" oninput="setCustomValidity('')">
                                    </div>
                                </div>                                                        	
                                <div class="mws-form-row">
                                    <label class="mws-form-label">邮箱</label>
                                    <div class="mws-form-item">
                                        <input class="large" type="text" value="{$name['email']}" name="email" required oninvalid="setCustomValidity('密码不能为空')" oninput="setCustomValidity('')">
                                    </div>
                                </div>
                                <div class="mws-form-row">
                                    <label class="mws-form-label">密码</label>
                                    <div class="mws-form-item">
                                        <input class="large" type="password" name="pwd" required oninvalid="setCustomValidity('密码不能为空')" oninput="setCustomValidity('')">
                                    </div>
                                </div> 
                                <div class="mws-form-row">
                                    <label class="mws-form-label">确认密码</label>
                                    <div class="mws-form-item">
                                        <input class="large" type="password" name="repwd" required oninvalid="setCustomValidity('请确认密码')" oninput="setCustomValidity('')">
                                    </div>
                                </div>  
                              <div class="mws-button-row">
                              		
                              		<input type="hidden" value="{$name['id']}" name="id">
                                    <input value="Submit" class="btn btn-danger" type="submit">
                                    <input value="Reset" class="btn " type="reset">
                               </div>                       
                        </form>
                    </div>    	
</block>