<extend name="user/public" />
<block name="title"><title>商品列表页</title></block>
<block name="shopindex">
		<head>
   <script type="text/javascript" src="/js/jquery-1.8.3.min.js"></script>
 </head>
<div class="mws-panel grid_8 mws-collapsible">
    	<div class="mws-panel-header">
    	<span><i class="icon-table"></i> 商品列表页</span>
    <div class="mws-collapse-button mws-inset"></div></div>
    <div class="mws-panel-inner-wrap"><div class="mws-panel-body no-padding">
        <div id="DataTables_Table_0_wrapper" class="dataTables_wrapper" role="grid">
        <div id="DataTables_Table_0_length" class="dataTables_length"> 
        <form action="__MODULE__/shop/index" method="get">
        	<input aria-controls="DataTables_Table_1" type="text" name="name" value="{$Think.get.name}"/></label>
        	<input type="submit" class="btn btn-success" value="搜索">
        </div>
        </form>
        <div id="users">
        <table class="mws-table mws-datatable dataTable" id="DataTables_Table_0" aria-describedby="DataTables_Table_0_info">
        <thead>

            
             <th class="sorting" role="columnheader" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" style="width: 94px;" aria-label="Engine version: activate to sort column ascending">编号</th>  
            <th class="sorting" role="columnheader" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" style="width: 156px;" aria-label="Browser: activate to sort column ascending">商品名</th>
            <th class="sorting" role="columnheader" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" style="width: 144px;" aria-label="Platform(s): activate to sort column ascending">商品描述</th>
            <th class="sorting" role="columnheader" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" style="width: 144px;" aria-label="Platform(s): activate to sort column ascending">商品图片</th>
            <th class="sorting" role="columnheader" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" style="width: 144px;" aria-label="Platform(s): activate to sort column ascending">商品库存</th>
            <th class="sorting" role="columnheader" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" style="width: 144px;" aria-label="Platform(s): activate to sort column ascending">地址</th>
            <th class="sorting" role="columnheader" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" style="width: 144px;" aria-label="Platform(s): activate to sort column ascending">添加时间</th>
            <th class="sorting" role="columnheader" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" style="width: 94px;" aria-label="Engine version: activate to sort column ascending">操作</th>
        </thead>                                                                                                                                                                                                       
               </tr>
          <foreach name="list" item="row">
           <tr class="even" align="center">
               
                <td class=" "><span class="badge badge-success">{$row['id']}</span></td>
                <td class=" "><span class="badge badge-success">{$row['name']}</span></td>
                <td class=" "><span class="badge badge-success">{$row['descr']}</span></td>
				 <td class=" "><img src="{$row['pic']}" alt="图片暂缺" width="120px" height="135px"></td>
				  <td class=" "><span class="badge badge-success">{$row['num']}</span></td>
				   <td class=" "><span class="badge badge-success">{$row['address']}</span></td>
				    <td class=" "><span class="badge badge-success">{$row['time']}</span></td>
                <td class=" ">
                    <span class="btn-group">            
                        <a href="__MODULE__/Shop/edit/id/{$row['id']}" class="btn btn-small"><i class="icon-pencil"></i></a>
                        <a href="__MODULE__/Shop/del/id/{$row['id']}" class="btn btn-small"><i class="icon-trash"></i></a>
                    </span>
                </td>
           </foreach>
          
			</tbody>
 	</table>
     {$page}
   
   
</block>