<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>用户地址信息</title>
</head>
<body>
	<center>
		<table border="1px" width="500px">
		<h1>用户中心</h1>
			<tr>
				<th>ID</th>
				<th>NAME</th>
				<th>EMAIL</th>
				<th>PHONE</th>
				<th>THKEN</th>
			</tr>
			<foreach name="list" item="row">
				<tr>
					<td>{$row['id']}</td>
					<td>{$row['name']}</td>
					<td>{$row['email']}</td>
					<td>{$row['pwd']}</td>
					<td>{$row['token']}</td>
				</tr>
			</foreach>
		</table>
	</center>
</body>
</html>