<extend name="user/public" />
<block name="title"><title>图片轮奸列表</title></block>
<block name="picindex">
<head>
   <script type="text/javascript" src="__PUBLIC__/b/js/jquery-1.8.3.min.js"></script>
 </head>
<div class="mws-panel grid_8 mws-collapsible">
    	<div class="mws-panel-header">
    	<span><i class="icon-table"></i> 图片轮播列表页</span>
    <div class="mws-collapse-button mws-inset"></div></div>
    <div class="mws-panel-inner-wrap"><div class="mws-panel-body no-padding">
        <div id="DataTables_Table_0_wrapper" class="dataTables_wrapper" role="grid">
        <div id="DataTables_Table_0_length" class="dataTables_length"> 
        </div>
       <div id="users">
        <table class="mws-table mws-datatable dataTable" id="DataTables_Table_0" aria-describedby="DataTables_Table_0_info">
        <thead>
            <tr role="row"><th class="sorting_asc" role="columnheader" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" style="width: 112px;" aria-sort="ascending" aria-label="Rendering engine: activate to sort column descending">编号</th>
            <th class="sorting" role="columnheader" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" style="width: 156px;" aria-label="Browser: activate to sort column ascending">图片</th>        
        	<th class="sorting" role="columnheader" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" style="width: 156px;" aria-label="Browser: activate to sort column ascending">操作</th>        
        </thead>                                                                                                                                                                                                       
               </tr>
        <foreach name="list" item="row">
           <tr class="even" align="center">
                <td class=" "><span class="badge badge-success">{$row['id']}</span></td>
                <td class=" "><img src="{$row['pic']}"></td>
              
                <td class=" ">
                    <span class="btn-group">            
                      
                        <a href="__MODULE__/pic/del/id/{$row['id']}" class="btn btn-small"><i class="icon-trash"></i></a>
                    </span>
                </td>
           </foreach>
			</tbody>
			
 	</table>
    </div> 
   </div> 
 </div>
  </div>
</block>